@page
@model BaranggayAppointmentScheduler.Pages.User.UserDashboardModel
@{
	Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/User-Dashboard.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h2>Home</h2>

        <div class="card-container">
            <button class="card" onclick="window.location.href='/User/User-General'">
                <i class="fas fa-id-card"></i>
                <p>Need Barangay ID?</p>
            </button>

            <button class="card" onclick="window.location.href='/User/User-health'">
                <i class="fas fa-notes-medical"></i>
                <p>Check Up?</p>
            </button>
            <button class="card" onclick="window.location.href='/User/User-comp'">
                <i class="fas fa-exclamation-triangle"></i>
                <p>Complaint?</p>
            </button>
            <button class="card" onclick="window.location.href='/User/User-b'">
                <i class="fas fa-briefcase"></i>
                <p>Business Permit?</p>
            </button>
        </div>


        <h2>Updates</h2>
        <div class="updates">
            <button class="update general" onclick="alert('General Update Clicked!')">
                <strong>General</strong>
                <p>Your ID is ready, please bring a ballpen, any ID with your name and address, and the receipt you have received.</p>
                <span class="date">12/12/2024</span>
            </button>
            <button class="update health" onclick="alert('Health Update Clicked!')">
                <strong>Health</strong>
                <p>Your test result is ready to claim, please get your test result before 5:00pm today.</p>
                <span class="date">08/01/2024</span>
            </button>
            <button class="update report" onclick="alert('Report Update Clicked!')">
                <strong>Report</strong>
                <p>We already received your complaint and we're taking action at the moment.</p>
                <span class="date">07/23/2024</span>
            </button>
            <button class="update health" onclick="alert('Health Alert Clicked!')">
                <strong>Health</strong>
                <p>Based on your test result, you are <span class="negative">NEGATIVE</span> to TB DOTS but unfortunately, you are <span class="positive">POSITIVE</span> to HIV.</p>
                <span class="date">01/12/2025</span>
            </button>
        </div>

    </div>
</body>
    